# Tuples

1. Tuples is a collection of heterogeneous data- empty_tuple=tuple() or ()

In [5]:
empty_tup=()
print(tuple())
print(empty_tup)
print(type(empty_tup))

()
()
<class 'tuple'>

1. Tuples are also iterable. They also have indexing and can be sliced.
2. Entire tuple can be printed.
3. Tuples are also immutable

In [7]:
one_tup=(1100)
mix_tup=("Ram",25,45.55)

tup1="Ram1",2345,2.14

print(one_tup)
print(mix_tup)
print(tup1)

1100
('Ram', 25, 45.55)
('Ram1', 2345, 2.14)

In [8]:
print(tuple("Adithyaa"))

('A', 'd', 'i', 't', 'h', 'y', 'a', 'a')

Nested Tuples is also possible.

In [11]:
stud_details = (("stud1",55,6.7),("stud2",66,7.7),("stud3",77,8.7),)
print(stud_details)
for i,j,k in stud_details:
    print(i,j,k)
#It works in list also
lst1=list(stud_details)
print(lst1)
for i,j,k in lst1:
    print(i,j,k)

(('stud1', 55, 6.7), ('stud2', 66, 7.7), ('stud3', 77, 8.7))
stud1 55 6.7
stud2 66 7.7
stud3 77 8.7
[('stud1', 55, 6.7), ('stud2', 66, 7.7), ('stud3', 77, 8.7)]
stud1 55 6.7
stud2 66 7.7
stud3 77 8.7

1. '*' is an unwrapping operator

In [17]:
print(*stud_details)
print(*stud_details[0])
print(type(*stud_details[0]))

('stud1', 55, 6.7) ('stud2', 66, 7.7) ('stud3', 77, 8.7)
stud1 55 6.7

TypeError: type.__new__() argument 2 must be tuple, not int

CW:Define a typle in various datatypes and print using iterators <br />
HW: In a tuple, find number of objects of each type

In [18]:
#HW
tup=('Ram', 25, 45.55)
stri=0
inte=0
floatt=0
for i in tup:
    if type(i)==str:
        stri+=1
    if type(i)==int:
        inte+=1
    if type(i)==float:
        floatt+=1
print(f"String:{stri} Int:{inte} Float:{floatt}")

String:1 Int:1 Float:1

In [21]:
#CW
a=5
b=1.5
print(tuple(a))
print(tuple(b))
print(tuple([2,3]))

TypeError: 'int' object is not iterable

In [23]:
tup[0]=2

TypeError: 'tuple' object does not support item assignment

In [40]:
#Tuple is immutable and be concatenated
tup=1,2,3
tup+=(54,6,7)
print(tup)
del(tup)
#print(tup)

(1, 2, 3, 54, 6, 7)

del(tup) removes the tuple

In [27]:
sorted(tup)

[1, 2, 3, 6, 7, 54]

In [31]:
tup.sort() # member function used only for list

In [55]:
tup_a=(1,2,3,4,5)
list_a=reversed(tup_a) #Reverses and returns a reversed class which can be converted to a list or tuple
print(list(reversed(tup_a)))
print(type(list_a))
print(list(list_a),tuple(list_a))# It is not getting used for a 2nd time.

[5, 4, 3, 2, 1]
<class 'reversed'>
[5, 4, 3, 2, 1] ()

In [49]:
a=(i for i in range(5)) #Tuple comperehension works but doesnt return back a tuple- It gives a generator class
print(tuple(a))

(0, 1, 2, 3, 4)


## **Tuples are used to avoid even accidental change**

### **Tuple Varieties**

In [56]:
tup_1=(1,2,3)
tup_2=(3,4,5)
tup_3=(tup_1,tup_2)
print(tup_3)

((1, 2, 3), (3, 4, 5))

## **Can you print all elements of a tuple in one line**

In [62]:
print(*tup_3)
print(*[2,3,4])

(1, 2, 3) (3, 4, 5)
2 3 4

SyntaxError: can't use starred expression here (2443719553.py, line 3)

In [66]:
name=("Ram","Geeta","Raja","Ramya")
gender=("M","F","M","F")

mapped=()
for i in range(len(name)):
    mapped+=((name[i],gender[i]),)
print(mapped)

(('Ram', 'M'), ('Geeta', 'F'), ('Raja', 'M'), ('Ramya', 'F'))